vendor/*
linux/
windows/
data/
.cover/
logs/
coverage.html
config.json
*.cpp
*.qrc
*.h
moc.go
rcc_cgo_linux_linux_amd64.go
moc_cgo_linux_linux_amd64.go
rcc_cgo_windows_windows_386.go
rcc_cgo_windows_windows_amd64.go
moc_cgo_windows_windows_amd64.go
moc_cgo_windows_windows_386.go
gui.pro